<div class="body d-flex align-items-center justify-content-center"
  style="height: 100vh;background: linear-gradient(to right, #fff9ed, #fedb8f);background: -webkit-linear-gradient(to right, #fff9ed, #fedb8f);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 order-md-2 d-flex align-items-center justify-content-center">
        <div class="text-center mb-5 d-block d-md-none">
          <ng-lottie [options]="options" width="250px" height="250px"></ng-lottie>
        </div>
        <div class="text-center d-none d-md-block">
          <ng-lottie [options]="options" width="400px" height="400px"></ng-lottie>
        </div>
      </div>
      <div class="col-12 offset-md-1 col-md-5 order-md-1 d-flex align-items-center justify-content-center">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>